#content{
  font-size: 14px;
}
#publication-tabs{
  margin: 2em 0 0;
}
#input-by-year{
  width: 6em;
}
.frontend-publication-filter{
  border: 1px solid #ccc;
  margin-top: 0.6em;
}
.frontend-publication-results{
  margin: 1em 1em 2em 1.4em;
}
.frontend-publication-results li{
  list-style: none;
}
.frontend-publication-results p{
  font-size: 0.9em;
}
.frontend-publication-filter{
  font-size: 0.8em;
  padding: 1em 0.4em;
}
.frontend-publication-filter-fields select{
  margin: 0;  /* Chrome */
  width: 3em !important;
}
.frontend-publication-filter-fields li{
  padding: 0 0.4em;
}
#filter-field-q{
  width: 8em;
}
#filter-field-q:focus{
  width: 16em;
}
#filter-submit{
  margin-left: 0.6em;
}
table.statistics{
  border: 0;
  margin: 0.4em 0 0.8em;
}
table.statistics tbody{
  border: 0;
}
table.statistics td{
  border-width: 0 0 1px;
  border-style: solid;
  border-color: #bbb;
  padding: 0.4em 0.8em;
}
table.statistics td.numeric{
  text-align: right;
}
.ui-autocomplete{
  width: 300px;
}
.ui-autocomplete a{
  padding: 3px;
}
.ui-autocomplete a:hover{
  background: #fbf9ee;
  text-decoration: none;
  color: #2961B0;
  padding: 2px;
  cursor: pointer;
}
.ui-autocomplete .ui-menu-item{
  margin: 0.4em 0.6em;
}
.ui-tabs .ui-tabs-panel{
  padding: 1em;
}
